* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 1300px;
 }
  
 /* header */
 .header{
    z-index: 10;
    background-color: #24262b;
    position: absolute;
    width: 100%;
    max-width: 2100px;
    top: 10px;
    display: flex;
    text-align: center;
    overflow: hidden;
    max-height: 80px;
 
 }
  .header ul {
     display: flex;
     list-style: none;
     margin: 0;
     padding: 0;
     text-align: center;
  }
  .topmenu li{
    font-size: 39px;
 
  }
  .block {
   z-index: 10;
   position: relative;
   background-color: #24262b;
   display: flex;
   width: 100%;
   height: 90px;
   max-height: 80px;
  }
 .header li {
     margin-right: 20px;
     font-size: 20px;
 }
  .header a {
     color: #e91e63;
     display: block;
     padding: 10px;
     text-decoration: none;
  }
  .topmenu a:hover {
     background-color: #555;
  }
  .headerHover {
   position: absolute;
   left: 40px;
   z-index: 6;
   display: none;
  }
  .topmenu:hover .headerHover {
   display: flex;
   transform: translate(0%);
   background-color: #24262b;
 }
 .headerHover:hover {
   background-color: #555;
 
 }
 
 .logo {
    position: absolute;
    align-items: center;
    display: block;
    left: 1200px;
 
 }
 .number {
    color: #e91e63;
    margin-left: 900px;
    position: relative;
    z-index: 100;
 }
 .gmail{
    position: absolute;
    display: flex;
 }
 /* game */
 .game-info {
display: block;
position: relative;
left: 425px;
top: 100px;
max-width: 600px;
 }
 .img1 {
    position: relative;
    display: flex;
    bottom: 300px;
    left: 50px;
max-width: 1000px;
 }
 .decription {
     display: flex; 
     position: relative;
    left: 24px;
    max-width: 1000px;
 }
 .scr {
    display: flex;
    max-width: 1300px;
    position: relative;
    bottom: 200px;
    left: 10%;
 }
 .first h1{
    font-size: 30px;
 }
 .first p {
    position: relative;
    display: flex;
    bottom: 260px;
 }
 .category-list * {transition: .4s linear;}

.category-list {
  background: white;
  list-style-type: circle;
  list-style-position: inside;
  padding: 0 10px;
  margin: 0;
}
.category-list li {
  font-family: "Trebuchet MS", "Lucida Sans";
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
}
.category-list a {
  text-decoration: none;
  color: #555;
}
.category-list li span {
  display: inline-block;
  border: 1px solid #efefef;
  padding: 0 5px;
  font-size: 13px;
  color: #999;
}
.category-list li:hover a {color: #c93961;}

.category-list li:hover span {
  color: #c93961;
  border: 1px solid #c93961;
}
 /* footer */

 ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  /* button */

body{
    font-family: 'Lato', sans-serif;
  }
  
  .wrapper{
    max-width: 400px;
    position: relative;
    display: flex;
    top: -60px;
    left: 54%;
    transform: translate(-50%, -50%);
  }
  
  .link_wrapper{
    position: relative;
  }
  
  .btn-new a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
  }
  
  .wrapper .btn-new a:hover{
    width: 200px;
    border: 3px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
  }
  
  .btn-new a:hover + .icon{
    border: 3px solid #2ecc71;
    right: -25%;
  }
  /*responsive*/

 @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }